
:root {
    --dark: #1B213C;
    --dark-gray: #485668;
    --gray: #838383;
    --lightgray: #E2E8F0;
    --yellow: #FECF2F;
    --orange: #FD5A27;
}

/* Progress-bar */

.progress-text {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.progressbar {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 2rem;
}

/* My cart page */

.cart-item-img img {
    width: 120px;
}

.my-cart-box-title {
    background-color: var(--lightgray);
    width: 380px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    padding-left: 9rem;
}

.my-cart-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--dark);
}

.my-cart-item {
    background-color: var(--lightgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.my-cart-total {
    background-color: var(--lightgray);
    display: flex;
    align-items: flex-end;
}

.free-shipping-banner-my-cart {
    background-color: var(--lightgray);
}

.my-cart-old-price {
    text-decoration: line-through;
    color: var(--orange);
    font-weight: 600;
}

.my-cart-now-price {
    font-weight: 700;
    font-size: 1.5rem;
}

.my-cart-item-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-total-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1.3rem;
    gap: 0.5rem;
}

.my-cart-total, .my-total-savings {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.my-cart-total-text {
    font-weight: 600;
    font-size: 2rem;
}

.my-total-savings-text {
    color: var(--orange);
    font-weight: 600;
}

.my-cart-proceed-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 6px;
    color: #FFF;
    height: 3rem;
    font-size: 1.2rem;
    width: 380px;
}

.my-cart-proceed-btn:hover {
    background-color: var(--yellow);
    color: var(--dark);
}

.my-cart-item-title {
    font-weight: 600;
}

.my-cart-item-category {
    font-style: italic;
    color: var(--dark-gray);
}

.free-shipping-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
}

.icon-and-text {
    display: flex;
    gap: 1rem;
}

/* FORMS */

/* LOG IN PAGE */

.log-in-gray-box {
    color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.log-intitle, .form-title {
    font-size: 24px;
    font-weight: 600;
}

.login-form, .form {
    display: flex;
    flex-direction: column;
}

.login-form label, .form-label {
    height: 0.1rem;
    font-size: 14px;
}

.login-form input, .input {
    width: 300px;
    height: 3rem;
    border: none;
    border-radius: 6px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.log-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightgray);
    width: 350px;
    height: 400px;
}

.log-in-btn {
    background: var(--orange);
    color: #FFF;
    width: 300px;
    height: 3rem;
    border: none;
    border-radius: 6px;
}

.log-in-btn:hover {
    background-color: var(--yellow);
    color: var(--dark);
}

.forgot-password-text {
    font-size: 14px;
    text-align: center;
    margin-top: -0.5rem;
}

/* Shipping and billing */

.billing, .shipping {
    background-color: var(--lightgray);
    width: 380px;
}

.shipping-and-billing-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    
}

.pay-option {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.payment-options {
    display: flex;
    gap: 1.5rem;
}

.shipping-and-total {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.total-content-shipping-page {
    padding: 2rem 2rem;
}


/* Small (sm) */
@media (min-width: 640px) {


}

/* Medium */
@media (min-width: 768px) {

    .progress-bar-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .progressbar {
        width: 400px;
    }

    .my-cart-box {
        width: 600px;
    }

    .my-cart-box-title {
        width: 600px;
        padding-left: 12rem;
        padding-right: 7rem;
    }

    .btn-area-my-cart {
        display: flex;
        justify-content: flex-end;
    }


}

/* Large */
@media (min-width: 1024px) {

    .my-cart-box {
        width: 900px;
    }

    .my-cart-box-title {
        width: 900px;
        padding-left: 17rem;
        padding-right: 12rem;
    }

    .my-total-content {
        padding-right: 11rem;
    }

    .my-cart-proceed-btn {
        width: 350px;
    }

    .free-shipping-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 3rem;
    }
    
    .icon-and-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    /* Shipping */

    .flex-shipping-billing-total {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .shipping-and-total {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .total-content-shipping-page {
        padding: 2rem 3rem;
    }

}


/*Extra Large XL */
@media (min-width: 1280px) {

}

/* EXTRA Extra Large - XXL */
@media (min-width: 1536px) {

}