
:root {
    --dark: #1B213C;
    --dark-gray: #485668;
    --gray: #838383;
    --lightgray: #E2E8F0;
    --yellow: #FECF2F;
    --orange: #FD5A27;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

/* HEADER */

.desktop-dark-line {
    display: none;
}

.desktop-nav {
    display: none;
}

.right-header-desktop {
    display: none;
}

/* LEFT HEADER */
.yellow-header {
    background-color: var(--yellow);
    width: 100vw;
    height: 111px;
}

.header-menu-yellow {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.header-logo img {
    height: 75px;
    margin: 1rem 1rem;
    cursor: pointer;
}

.header-logo img:hover {
    filter: hue-rotate(0deg);
    filter: saturate(100);
    filter: brightness(3);
}

/* RIGHT HEADER */

.right-header-mobile {
    font-size: 2rem;
    color: var(--dark);
    display: flex;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.dark-header-line {
    background-color: var(--dark);
    width: 100vw;
    height: 1rem;
}

/* DROPTOWN MENU */

.dropbtn {
    background-color: var(--yellow);
    color: var(--dark);
    padding: 16px;
    font-size: 2rem;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--yellow);
    min-width: 200px;
    filter: drop-shadow(5px 5px 8px #485668);
    z-index: 80;
    font-size: 1.2rem;
    right: -83px;
}

ul li {
      list-style: none;
}
  
.dropdown-content a {
    color: black;
    padding: 0.7rem 1rem;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
      background-color: var(--dark);
      color: white;
}
  
.dropdown:hover .dropdown-content {
      display: block;
}
  
/* HERO */

.hero {
    max-height: 150px;
    width: 360px;
    margin-bottom: 1rem;
}

.hero img {
    object-fit: cover;
    width: 100vw;
    min-height: 150px;
}

.hero-title {
    background-color: var(--yellow);
    color: var(--dark);
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 50px;
    width: 270px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
    z-index: 20;
}

.hero-title-latest-releases-1, .hero-title-latest-releases-2 {
    top: -125px;
    width: 220px;
    height: 40px;
}

.hero-text-divs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-title-pre-loved-1, .hero-title-pre-loved-2 {
    top: -145px;
    width: 250px;
}

.hero-title-pre-loved-2 {
    font-size: 0.8rem;
    padding-left: 40px;
    padding-right: 30px;
    width: 270px;
    height: 70px;
}

.hero-title-sale-1, .hero-title-sale-2 {
    top: -130px;
    width: 200px;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.main-content, .game-section-title {
    width: 360px;
    margin-bottom: 1rem;
}

.game-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 360px;
}

.latest-games-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pre-loved-games-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    color: var(--dark);
}

p {
    font-family: 'Barlow', sans-serif;
    color: var(--dark);
    font-size: 20px;
}

.game-section-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.latest-games-section-2 {
    margin-top: 11rem;
}

/* MID BANNER - INDEX */

.desktop-pre-loved-banner-main, .tablet-pre-loved-banner {
    display: none;
}

.banner-ad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mobile-pre-loved-banner-main {
    position: absolute;
    z-index: 1;
}

.mid-banner-text {
    position: relative;
    top: 140px;
    z-index: 2;
    width: 360px;
    color: var(--dark);
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre-loved-games-text {
    margin-top: 9rem;
}

/* MID BANNER ABOUT TED - PRE-LOVED GAMES -  */

.ted-banner-ad {
    width: 350px;
    display: flex;
    margin-top: 3rem;
    margin-bottom: -8rem;
}
    
.ted-img img {
    width: 150px;
    min-height: 300px;
    object-fit: cover;
}
    
.ted-banner-content {
    width: 210px;
    max-height: 300px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-top: 3rem;
    background-color: var(--dark);
    }
    
.ted-banner-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4rem;
    }
    
.chat-with-ted-btn {
    background-color: var(--orange);
    height: 90px;
    width: 130px;
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #FFF;
    font-size: 1rem;
    font-family: 'barlow', sans-serif;
}
    
.chat-with-ted-btn:hover {
    background-color: var(--yellow);
    color: var(--dark);
}

/* FORMS */

/* LOG IN PAGE */

.log-in-gray-box {
    color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.log-intitle {
    font-size: 24px;
    font-weight: 600;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    height: 0.1rem;
    font-size: 14px;
}

.login-form input {
    width: 300px;
    height: 3rem;
    border: none;
    border-radius: 6px;
    padding-left: 1rem;
}

.log-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightgray);
    width: 350px;
    height: 400px;
}

.log-in-btn {
    background: var(--orange);
    color: #FFF;
    width: 300px;
    height: 3rem;
    border: none;
    border-radius: 6px;
}

.log-in-btn:hover {
    background-color: var(--yellow);
    color: var(--dark);
}

.forgot-password-text {
    font-size: 14px;
    text-align: center;
    margin-top: -1rem;
}

/* FOOTER */

footer {
    margin-top: 4rem;
}

.yellow-desktop-footer {
    display: none;
}

.footer-dark-color {
    background-color: var(--dark);
    width: 100vw;
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    height: 160px;
    width: 360px;
}

.footer-content, .footer-content a {
    color: #FFF;
}

.socials {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

.socials i:hover {
    color: var(--orange);
}

.footer-links {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

.footer-links ul li {
    display: flex;
    line-height: 2rem;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}



/* Small (sm) */
@media (min-width: 640px) {
    main {
        margin-top: 5px;
    }


}

/* Medium */
@media (min-width: 768px) {

    .main-content {
        width: 740px;
    }

    .game-section-title {
        width: 720px;
        margin-left: 20px;
    }
    
    .game-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 765px;
    } 
    
    /* HERO */

    .hero {
        max-height: 250px;
        width: 360px;
        margin-bottom: -2rem;
    }

    .hero img {
        object-fit: cover;
        width: 100vw;
        max-height: 250px;
    }

    .hero-title-latest-releases-1, .hero-title-latest-releases-2 {
        top: -130px;
        width: 420px;
        height: 40px;
    }

    .hero-text-divs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero-title-pre-loved-1, .hero-title-pre-loved-2 {
        top: -170px;
        width: 450px;
    }

    .hero-title-pre-loved-2 {
        font-size: 1rem;
        padding-left: 145px;
        padding-right: 80px;
        width: 470px;
        height: 80px;
    }

    .hero-title-sale-1, .hero-title-sale-2 {
        top: -140px;
        width: 380px;
    }

    /* MID BANNER - INDEX */

    .latest-games-section-2 {
        margin-top: -4rem;
    }

    .mobile-pre-loved-banner-main, .desktop-pre-loved-banner {
        display: none;
    }

    .tablet-pre-loved-banner {
        display: block;
    }

    .banner-ad {
        margin-top: 3.5rem;
        margin-bottom: 3rem;
    }

    .mobile-pre-loved-banner-main {
        position: absolute;
        z-index: 1;
    }

    .mid-banner-text {
        position: relative;
        top: -120px;
        left: 40px;
        z-index: 2;
        width: 360px;
        color: var(--dark);
        font-family: 'Orbitron', sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pre-loved-games-text {
        margin-top: -7rem;
    } 
    
    /* MID BANNER ABOUT TED - PRE-LOVED GAMES -  */

    .ted-banner-ad {
        width: 750px;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    
    .ted-img img {
        width: 400px;
        height: 250px;
        object-fit: cover;
    }

    .ted-banner-content {
        width: 350px;
        min-height: 250px;
        color: #FFF;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 2.5rem;
        padding-top: 4rem;
        background-color: var(--dark);
    }
    
    .ted-banner-title {
        font-family: 'Orbitron', sans-serif;
        font-size: 36px;
    }
    
    .chat-with-ted-btn {
        height: 64px;
        width: 270px;
        flex-direction: row;
        gap: 1rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    .chat-with-ted-btn:hover {
        background-color: var(--yellow);
        color: var(--dark);
    }

    /* FORMS */

    /* LOG IN PAGE */

    .login-form input {
        width: 450px;
    }

    .log-in-container {
        width: 550px;
    }

    .log-in-btn {
        width: 450px;
    }

        

}

/* Large - DESKTOP */
@media (min-width: 1024px) {

    /* HEADER */

    .right-header-mobile {
        display: none;
    }

    .desktop-dark-line {
        display: block;
        width: 100vw;
        height: 1rem;
        background-color: var(--dark);
    }
    
    .desktop-nav {
        display: block;
    }

    .desktop-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.2rem;
    }
    
    .dark-header-line {
        background-color: var(--dark);
        width: 100vw;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-menu-dark {
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li a, nav ul li {
        color: #FFF;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    .right-header-desktop {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-right: 2.2rem;
    }

    .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95px;
        width: 152px;
        margin: 1rem 2rem;
        cursor: pointer;
        z-index: 1;
    }

    .hover-logo {
        display: none;
    }

    .header-logo img:hover {
        filter: hue-rotate(0deg);
        filter: saturate(100);
        filter: brightness(3);
    }

    .desktop-icons {
        display: flex;
        gap: 2rem;
    }

    .yellow-header {
        background-color: var(--yellow);
        width: 100vw;
        height: 111px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-menu-yellow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
    }

    .left-header {
        align-content: flex-start;
    }

    .icon-desk {
        text-align: center;
        font-size: 1.5rem;
        color: var(--dark);
    }

    /* Hover for desktop nav icons */
    .icon-desk:hover, .icon-desk i:hover, .icon-desk p:hover {
        color: #B8411C;
    }

    .icon-desk p {
        font-size: 12px;
        color: var(--dark);
    }

    .search-bar input {
        width: 381px;
        height: 48px;
        border-radius: 6px;
        border: 0px;
        padding: 1rem;
    }

    .search-bar i {
        position: relative; 
        left: -35px; 
        top: 3px;
        font-size: 1.1rem; 
        color: var(--gray); 
    }

    /* HERO */

    .hero {
        max-height: 250px;
        width: 360px;
        margin-bottom: 1rem;
    }

    .hero img {
        object-fit: cover;
        width: 100vw;
        max-height: 250px;
    }
    
    .hero-title {
        height: 60px;
        width: 750px;
        font-size: 1.7rem;
        top: -90px;
    }

    .hero-title-latest-releases-1, .hero-title-latest-releases-2 {
        top: -170px;
        width: 600px;
    }

    .hero-text-divs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero-title-pre-loved-1, .hero-title-pre-loved-2 {
        top: -190px;
        width: 550px;
    }

    .hero-title-pre-loved-2 {
        font-size: 1rem;
        padding-left: 145px;
        padding-right: 90px;
        width: 570px;
        height: 80px;
    }

    .hero-title-sale-1, .hero-title-sale-2 {
        top: -180px;
        width: 500px;
    }

    /* MAIN */

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .main-content, .game-section-title {
        width: 1000px;
    }
    
    .game-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        width: 1000px;
    }

    /* MID BANNER - INDEX - ABOUT PRE-LOVED GAMES*/

    .mid-banner-section {
        margin-bottom: 5rem;
    }

    .mobile-pre-loved-banner-main, .tablet-pre-loved-banner {
        display: none;
        }
    
    .desktop-pre-loved-banner-main {
        display: block;
    }
    
    .mobile-pre-loved-banner-main {
        position: absolute;
        z-index: 1;
    }
    
    .mid-banner-text {
        position: relative;
        top: -100px;
        left: 20px;
        z-index: 2;
        width: 670px;
        color: var(--dark);
        font-family: 'Orbitron', sans-serif;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
    .pre-loved-games-text {
        margin-top: -4rem;
    }
    
    /* MID BANNER ABOUT TED - PRE-LOVED GAMES -  */

    .ted-banner-ad {
        width: 1000px;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    .ted-img img {
        width: 650px;
        height: 250px;
        object-fit: cover;
    }

    .ted-banner-content {
        width: 350px;
        min-height: 250px;
        color: #FFF;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 2.5rem;
        padding-top: 3rem;
        background-color: var(--dark);
    }

    .ted-banner-title {
        font-family: 'Orbitron', sans-serif;
        font-size: 36px;
    }

    .chat-with-ted-btn {
        background-color: var(--orange);
        height: 64px;
        width: 270px;
        border: none;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: #FFF;
        font-size: 1.5rem;
        font-family: 'barlow', sans-serif;
    }

    .chat-with-ted-btn:hover {
        background-color: var(--yellow);
        color: var(--dark);
    }

    /* FOOTER */

    .footer-dark-color {
        background-color: var(--dark);
        width: 100vw;
        height: 286px;
        display: flex;
    }

    .footer-content {
        height: 160px;
        width: 1000px;
    }

    .footer-parent {
        display: flex;
        justify-content: flex-start;
    }

    .yellow-desktop-footer {
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .yellow-svg-and-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .yellow-desktop-footer {
        clip-path: polygon(80% 0, 100% 0, 100% 100%, 55% 100%);
        background-color: var(--yellow);
        min-height: 286px;
        min-width: 100vw;

    }

    footer {
        position: relative;
    }

    .yellow-svg-and-logo img, .yellow-desktop-footer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .yellow-svg-and-logo img {
        width: 152px;
        height: 95px;
        position: relative;
        bottom: 210px;
        left: -90px;
        z-index: 50;
        display: flex;
        align-items: center;
        align-self: center;
        flex-flow: column nowrap;
        overflow: hidden;
    }

    .yellow-svg-and-logo img:hover {
        filter: hue-rotate(0deg);
        filter: saturate(100);
        filter: brightness(3);
    }

}