
:root {
    --dark: #1B213C;
    --dark-gray: #485668;
    --gray: #838383;
    --yellow: #FECF2F;
    --orange: #FD5A27;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.desktop-dark-line {
    display: none;
}

.desktop-nav {
    display: none;
}

.right-header-desktop {
    display: none;
}

/* LEFT HEADER */
.yellow-header {
    background-color: var(--yellow);
    width: 100vw;
    height: 111px;
}

.header-menu-yellow {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.header-logo img {
    height: 75px;
    margin: 1rem 1rem;
    cursor: pointer;
}

.hover-logo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.header-logo:hover .hover-logo {
    opacity: 1;
}

/* RIGHT HEADER */

.right-header-mobile {
    font-size: 2rem;
    color: var(--dark);
    display: flex;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.dark-header-line {
    background-color: var(--dark);
    width: 100vw;
    height: 1rem;
}

/* DROPTOWN MENU */

.dropbtn {
    background-color: var(--yellow);
    color: var(--dark);
    padding: 16px;
    font-size: 2rem;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--yellow);
    min-width: 200px;
    filter: drop-shadow(5px 5px 8px #485668);
    z-index: 80;
    font-size: 1.2rem;
    right: -83px;
}

ul li {
      list-style: none;
}
  
.dropdown-content a {
    color: black;
    padding: 0.7rem 1rem;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
      background-color: var(--dark);
      color: white;
}
  
.dropdown:hover .dropdown-content {
      display: block;
}
  


/* HERO */

.hero {
    max-height: 250px;
    width: 360px;
}

.hero img {
    object-fit: cover;
    width: 100vw;
    max-height: 250px;
}

.hero-title {
    background-color: var(--yellow);
    color: var(--dark);
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 50px;
    width: 270px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
    z-index: 20;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    /* width: 360px;
    background-color: aquamarine; */
}

.game-section {
    display: flex;
    flex-wrap: wrap;
}

.latest-games-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pre-loved-games-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    color: var(--dark);
}

p {
    font-family: 'Barlow', sans-serif;
    color: var(--dark);
    font-size: 20px;
}

.game-section-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* FOOTER */

.yellow-desktop-footer {
    display: none;
}

.footer-dark-color {
    background-color: var(--dark);
    width: 100vw;
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    height: 160px;
    width: 360px;
}

.footer-content, .footer-content a {
    color: #FFF;
}

.socials {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

.socials i:hover {
    color: var(--orange);
}

.footer-links {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

.footer-links ul li {
    display: flex;
    line-height: 2rem;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}



/* Small (sm) */
@media (min-width: 640px) {


}

/* Medium */
@media (min-width: 768px) {

}

/* Large - DESKTOP */
@media (min-width: 1024px) {

    /* HEADER */

    .right-header-mobile {
        display: none;
    }

    .desktop-dark-line {
        display: block;
        width: 100vw;
        height: 1rem;
        background-color: var(--dark);
    }
    
    .desktop-nav {
        display: block;
    }

    .desktop-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.2rem;
    }
    
    .dark-header-line {
        background-color: var(--dark);
        width: 100vw;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-menu-dark {
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li a, nav ul li {
        color: #FFF;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    .right-header-desktop {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-right: 2.2rem;
    }

    .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95px;
        width: 152px;
        margin: 1rem 2rem;
        cursor: pointer;
        z-index: 1;
    }

    .hover-logo {
        display: none;
    }

    /* Why wont hue - red - work? */
    .header-logo img:hover {
        filter: hue-rotate(0deg);
        filter: saturate(100);
        filter: brightness(3);
    }

    /* FIX HOVER LOGO DESKTOP */

    /* .header-logo:hover .hover-logo {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
    } */

    /* .hover-logo {
        object-fit: inline;
        opacity: 0;
        transition: opacity .2s;
        z-index: 2;
    }
    
    .header-logo:hover .hover-logo {
        opacity: 1;
    } */

    .desktop-icons {
        display: flex;
        gap: 2rem;
    }

    .yellow-header {
        background-color: var(--yellow);
        width: 100vw;
        height: 111px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-menu-yellow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
    }

    .left-header {
        align-content: flex-start;
    }

    .icon-desk {
        text-align: center;
        font-size: 1.5rem;
        color: var(--dark);
    }


    /* FIX HOVER */
    .icon-desk:hover, .icon-desk i:hover, .icon-desk p:hover {
        color: #B8411C;
    }

    .icon-desk p {
        font-size: 12px;
        color: var(--dark);
    }

    .search-bar input {
        width: 381px;
        height: 48px;
        border-radius: 6px;
        border: 0px;
        padding: 1rem;
    }

    .search-bar i {
        position: relative; 
        left: -35px; 
        top: 3px;
        font-size: 1.1rem; 
        color: var(--gray); 
    }

    /* HERO */
    
    .hero-title {
        background-color: var(--yellow);
        color: var(--dark);
        font-family: 'Orbitron', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 60px;
        width: 750px;
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -80px;
        z-index: 20;
    }




    /* MAIN */

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }




    /* FOOTER */

    .footer-dark-color {
        background-color: var(--dark);
        width: 100vw;
        height: 286px;
        display: flex;
    }

    .footer-content {
        height: 160px;
        width: 1000px;
    }

    .footer-parent {
        display: flex;
        justify-content: flex-start;
    }

    .yellow-desktop-footer {
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .yellow-svg-and-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .yellow-desktop-footer {
        clip-path: polygon(80% 0, 100% 0, 100% 100%, 55% 100%);
        background-color: var(--yellow);
        min-height: 286px;
        min-width: 100vw;

    }

    footer {
        position: relative;
    }

    .yellow-svg-and-logo img, .yellow-desktop-footer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .yellow-svg-and-logo img {
        width: 152px;
        height: 95px;
        position: relative;
        bottom: 210px;
        left: -90px;
        z-index: 50;
        display: flex;
        align-items: center;
        align-self: center;
        flex-flow: column nowrap;
        overflow: hidden;
    }

    /* fix hover - more red? */
    .yellow-svg-and-logo img:hover {
        filter: hue-rotate(0deg);
        filter: saturate(50);
        filter: brightness(1deg);
    }

}


/*Extra Large XL */
@media (min-width: 1280px) {

}

/* EXTRA Extra Large - XXL */
@media (min-width: 1536px) {

}