* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card {
    width: 200px;
    height: 380px;
    border-radius: 6px;
    background-color: #FFF;
    filter: drop-shadow(1px 1px 5px #485668);
    position: relative;
}

.product-card:hover {
    filter: drop-shadow(5px 5px 8px #485668);
}

.game-img img {
    width: 200px;
    height: 256px;
    object-fit: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    z-index: 10;
    position: absolute;
}

.ign-score {
    width: 40px;
    z-index: 50;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 11px;
    left: 10px;
}

.ign-logo {
    width: 20px;
}

.inside-hexagon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

/* GAME DETAILS */

.game-details {
    margin-top: 260px;
    padding: 0.2rem 0.7rem;
    display: flex;
    flex-direction: column;
}

.game-title {
    color: #0F172A;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.game-category {
    color: #8B8B8B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -5px;
}

.game-prize {
    color: #0F172A;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.buy-now-btn {
    background-color: #FD5A27;
    color: #FFF;
    border: none;
    border-radius: 6px;
    height: 28px;
    width: 101px;
    cursor: pointer;
}

.buy-now-btn:hover {
    background-color: #FECF2F;
    color: #1B213C;
}

.buy-now-btn:active {
    background-color: #1B213C;
    color: #FFF;
}

/* THE DIFFERENT CARDS: */

/* pre-loved: */
.price-and-btn {
    display: flex;
    justify-content: space-between;
}

/* Latest release: */
.price-and-btn-latest-release {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}


.heart {
    color: #BBC5CF;
    position: relative;
    top: -100px;
    left: 170px;
    cursor: pointer;
}

.heart:hover {
    color: #FECF2F;
}

.heart:active {
    color: #FD5A27;
}

/* PRE-LOVED GAME CARD */

.old-price {
    color: #485668;
    font-size: 14px;
    text-decoration: line-through;
    position: relative;
}

.title-category-old-price-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.game-sales-prize {
    color: #FD5A27;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.game-category-tag {
    z-index: 50;
    position: absolute;
    background-color: #FECF2F;
    color: #1B213C;
    font-weight: 600;
    height: 25px;
    width: 109px;
    top: 227px;
    text-align: center;
    margin-left: 91px;
    align-items: center;
    justify-content: center;
}




/* Small (sm) */
@media (min-width: 640px) {


}

/* Medium */
@media (min-width: 768px) {

}

/* Large */
@media (min-width: 1024px) {

}


/*Extra Large XL */
@media (min-width: 1280px) {

}

/* EXTRA Extra Large - XXL */
@media (min-width: 1536px) {

}