* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    display: flex;
}

a {
    text-decoration: none;
}

.product-card {
    width: 360px;
    height: 380px;
    border-radius: 6px;
    background-color: #FFF;
    filter: drop-shadow(1px 1px 5px #485668);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-card:hover {
    filter: drop-shadow(5px 5px 8px #485668);
}

.game-img img {
    width: 180px;
    height: 380px;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 10;
    position: absolute;
}

.ign-score {
    width: 40px;
    z-index: 50;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 23px;
    left: 12px;
}

.ign-logo {
    width: 20px;
}

.inside-hexagon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

/* GAME DETAILS */

.game-details {
    margin-top: 10px;
    margin-left: 185px;
    width: 170px;
    height: 370px;
    padding: 0.2rem 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
}

.game-title {
    color: #0F172A;
    font-family: 'Barlow', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    height: 80px;
}

.game-category {
    color: #8B8B8B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game-prize {
    color: #0F172A;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.buy-now-btn {
    background-color: #FD5A27;
    color: #FFF;
    border: none;
    border-radius: 6px;
    height: 28px;
    width: 140px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.buy-now-btn:hover {
    background-color: #FECF2F;
    color: #1B213C;
}

.buy-now-btn:active {
    background-color: #1B213C;
    color: #FFF;
}

/* THE DIFFERENT CARDS: */


.price-and-btn-pre-loved {
    margin-top: 0px;
}

.price-and-btn-latest-release {
    margin-top: 117px;
}


.heart {
    color: #BBC5CF;
    position: relative;
    top: -390px;
    left: 330px;
    cursor: pointer;
}

.heart:hover {
    color: #FECF2F;
}

.heart:active {
    color: #FD5A27;
}

.fav-heart {
    color: #FD5A27;
}

.fav-heart:hover {
    color: #FECF2F;
}

/* PRE-LOVED GAME CARD */

.old-price {
    color: #485668;
    font-size: 14px;
    text-decoration: line-through;
    margin-top: 100px;
}



.game-sales-prize {
    color: #FD5A27;
    font-size: 36px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.game-category-tag {
    z-index: 50;
    background-color: #FECF2F;
    color: #1B213C;
    font-weight: 600;
    font-size: 1.2rem;
    height: 25px;
    width: 109px;
    position: absolute;
    top: 348px;
    left: 71px;
    text-align: center;
    align-items: center;
    justify-content: center;
}





/* Small (sm) */
@media (min-width: 640px) {


}

/* Medium */
@media (min-width: 768px) {

    .fav-heart {
        color: #FD5A27;
    }
    
    .fav-heart:hover {
        color: #FECF2F;
    }

}

/* Large */
@media (min-width: 1024px) {

    .product-card {
        width: 200px;
        height: 380px;
        border-radius: 6px;
        background-color: #FFF;
        filter: drop-shadow(1px 1px 5px #485668);
        position: relative;
    }
    
    .product-card:hover {
        filter: drop-shadow(5px 5px 8px #485668);
    }
    
    .game-img img {
        width: 200px;
        height: 256px;
        object-fit: cover;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        z-index: 10;
        position: absolute;
    }
    
    .ign-score {
        width: 40px;
        z-index: 50;
        color: white;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Inter', sans-serif;
        position: absolute;
        top: 11px;
        left: 10px;
    }
    
    .ign-logo {
        width: 20px;
    }
    
    .inside-hexagon {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }
    
    /* GAME DETAILS */
    
    .game-details {
        margin-top: 213px;
        margin-left: 12px;
        padding: 0rem 0rem;
        width: 175px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
        gap: 0;
    }

    .game-title {
        color: #0F172A;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 2rem;
        height: auto;
    }

    
    .game-category {
        color: #8B8B8B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        top: -5px;
    }
    
    .game-prize {
        color: #0F172A;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .buy-now-btn {
        background-color: #FD5A27;
        color: #FFF;
        border: none;
        border-radius: 6px;
        height: 28px;
        width: 101px;
        cursor: pointer;
        margin-top: 0px;
    }
    
    .buy-now-btn:hover {
        background-color: #FECF2F;
        color: #1B213C;
    }
    
    .buy-now-btn:active {
        background-color: #1B213C;
        color: #FFF;
    }
    
    /* THE DIFFERENT CARDS: */
    
    /* Pre-loved games */
    .price-and-btn-pre-loved {
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .price-and-btn-latest-release {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
    
    .heart {
        color: #BBC5CF;
        position: relative;
        top: -120px;
        left: 170px;
        cursor: pointer;
    }
    
    .heart:hover {
        color: #FECF2F;
    }
    
    .heart:active {
        color: #FD5A27;
    }

    .fav-heart {
        color: #FD5A27;
    }
    
    .fav-heart:hover {
        color: #FECF2F;
    }
    
    /* PRE-LOVED GAME CARD */

    .old-price {
        color: #485668;
        font-size: 14px;
        text-decoration: line-through;
        margin-top: 0px;
    }
    
    .title-category-old-price-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .game-sales-prize {
        color: #FD5A27;
        font-size: 24px;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
    }
    
    .game-category-tag {
        z-index: 50;
        position: absolute;
        background-color: #FECF2F;
        color: #1B213C;
        font-weight: 600;
        height: 25px;
        width: 109px;
        top: 227px;
        text-align: center;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
    }

}


/*Extra Large XL */
@media (min-width: 1280px) {

}

/* EXTRA Extra Large - XXL */
@media (min-width: 1536px) {

}